/* ----------------------- HERO SECTION ----------------------*/
/* #form-hero {
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(80, 80, 80, 0.5)), url('../../images/new-blog-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
} */

#form-hero .content {
    position: relative;
    z-index: 1; /* Place it above the background image */
    color: var(--white-color); /* Text color on top of the background image */
    text-align: center;
    padding: 20px;
}

.form-hero-content {
    margin: 10% auto;
    animation: scaleUp 1s ease-in;
}

.form-hero-content h1 {
    font-size: 3.2rem;
}

.form{
    animation: scaleUp 1s ease-in;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 40px;
}

.form .form-field {
    margin: 2% 10%;
    width: 100%;
    font-size: 0.6rem;
}

.form .form-field label {
    display: block;
    font-size: 0.6rem;
    margin: 5px;
    font-weight: bold;
}

.form input{
    border: 1px solid var(--red-color);
    border-radius: 5px;
    height: 60px;
    width: 80%;
}

.form input:focus{
    border: 1px solid var(--red-color);
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
    outline: none;
}

.form input[placeholder]{
    padding: 0 20px;
    font-size: 0.5rem;
}

.form input[value]{
    padding: 0 20px;
    font-size: 0.5rem;
}

.form input[type="submit"]{
    height: 50px;
    margin: 10px 10%;
    width: 30%;
    background-color: var(--red-color);
    color: var(--white-color);
    border: none;
    border-radius: 10px;
    font-size: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.form input[type="submit"]:hover {
    scale: 1.02;
}

.form p {
    font-size: 0.5rem;
    font-weight: bold;
    margin-left: 10%;
}

.form p a {
    text-decoration: none;
    color: var(--red-color);
    transition: 0.3s ease-in;
    margin-bottom: 10px;
}

.form p a:hover {
    text-decoration: underline;
}

/* Message */
.message {
    margin-top: 20px;
    font-weight: bold;
    color: rgba(255, 0, 0);
    text-align: left;
    border-radius: 10px;
    animation: moveInFromRight 0.5s ease-in;
}


.search-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 10%;
    overflow: hidden;
    animation: moveInFromRight 1s ease-in;
}

.search-form .search-field {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 0.6rem;
    border: 1px solid var(--red-color);
    border-radius: 5px;
    height: 60px;
    width: 75%;
}

.search-form input{
    border: none;
    height: 55px;
    width: 100%;
}


.search-form input:focus{
    outline: none;
}

.search-form input[value]{
    padding: 0 20px;
    font-size: 0.5rem;
}

.search-form input[type="submit"]{
    height: 100%;
    width: 10%;
    background-color: var(--red-color);
    color: var(--white-color);
    border: none;
    font-size: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.search-form input[type="submit"]:hover {
    scale: 1.1;
}
