#profile-hero {
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(80, 80, 80, 0.5)), url('../../images/contact-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#profile-hero .content {
    /* z-index: 1; */
    position: relative;
    z-index: 2; /* Place it above the background image */
    color: var(--white-color); /* Text color on top of the background image */
    text-align: center;
    padding: 20px;
}

.profile-hero-content {
    margin: 100px auto;
    animation: scaleUp 1s ease-in;
}

.profile-hero-content h1 {
    font-size: 100px;
}

#profile-content{
    height: 30vh;
    margin: 40px 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    animation: moveInFromUp 1s ease-in;
}

.profile-details {
    width: 75%;
    font-size: 20px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
    padding: 15px 10%;
    animation: moveInFromRight 1s ease-in;
}

.hero-buttons a {
    text-decoration: none;
    color: white;
    font-size: 0.5rem;
    background-color: transparent;
    border: none;
    transition: 0.3s ease-in;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-buttons a:hover {
    scale: 1.05;
}

.profile-picture {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 20px;
}

.change-picture-button {
    background-color: var(--white-color);
    color: var(--red-color);
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    font-size: 0.6rem;
    margin-top: 10px;
    cursor: pointer;
}